@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --red: #E24646;
  --yellow: #FED27A;
  --black: #363636;
  --blue: #244056;
  --orange: #D59169;
  --red2: #A6513E;
  --beige: #EDE6E5;
  --mustard: #C2924C;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--blue);
  font-family: 'Montserrat';
  opacity: 0.5;
}

body::-webkit-scrollbar { /* WebKit */
  display: none;
}


html, body {
  margin: 0px;
  padding: 0px;
  overscroll-behavior-y: none;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

input {
  -webkit-appearance: none;
}

.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 0px;
  color: var(--blue);
  cursor: pointer;
  transition: ease 500ms;
}

.scrollToTop:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  padding: 0px;
}

.topbar {
  width: 100vw;
  height: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.menu {
  margin-right: 20px;
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.menu_item {
  padding: 9.75px 13px;
  font-size: 15px;
  position: relative;
  color: var(--blue);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.90rem;
  line-height: 24px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 5px;
  transition: all 0.6s ease;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .topbar {
  }

  .menu {
    overflow: hidden;
    position: absolute;
    align-items: center;
    width: 100vw;
    right: -20px;
    height: calc(100vh - 150px);
    top: 150px;
    flex-direction: column;
    background-color: var(--beige);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .menu span{
    opacity: 0;
  }

  .menu-active {
    transform: translateY(0%);
  }

  .topbar {
    justify-content: flex-end;
  }

  .burger {
    display: block;
    margin-right: 50px;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.menu_item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 35%;
  height: 3px;
  width: 0;
  background: var(--blue);
  transition: cubic-bezier(.77,0,.18,1) 0.5s;
}

.menu_item:hover::before {
  left: 35%;
  width: 30%;
}

.menu_item:hover {
  cursor: pointer;
}

.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--beige) url('./pictures/blommor_stor.png') no-repeat bottom center;
  background-size: 1400px;
  color: var(--blue);
}

.first-page-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 78px;
  text-align: center;
  letter-spacing: 4px;
}

.first-page-date {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 10vh;
}

.second-page {
  height: 60vh;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.second-page-imgs {
  position: relative;
}

.second-page-couple {
  object-fit: cover;
  overflow: hidden;
  width: 350px;
  height: 100%;
  animation: 0.5s ease;
}

.second-page-blommor1 {
  position: absolute;
  bottom: -80px;
  left: -20px;
  width: 200px;
  height: auto;
  z-index: 3;
}

.second-page-blommor2 {
  position: absolute;
  bottom: -40px;
  left: -120px;
  width: 180px;
  height: auto;
  z-index: 2;
}

.second-page-blommor3 {
  position: absolute;
  bottom: -180px;
  left: -80px;
  width: 300px;
  height: auto;
  z-index: 1;
}

.second-page-blommor-vit {
  position: absolute;
  bottom: -170px;
  left: -150px;
  width: 300px;
  height: auto;
  z-index: 1;
}

.second-page-blommor {
  position: absolute;
  left: -170px;
  bottom: -200px;
  width: 430px;
  z-index: 1;
}

.second-page-text {
  width: 400px;
}

.second-page-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 39px;
  color: var(--blue);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.second-page-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: var(--blue);
}

@media only screen and (max-width: 950px) {
  .second-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .second-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .second-page-text {
    width: 300;
    max-width: 80vw;
  }

  .second-page-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .second-page-couple {
    width: 60vw;
    height: auto;
  }

  .second-page-blommor1 {
    left: -20px;
    bottom: -70px;
  }

  .second-page-blommor2 {
    left: -110px;
    bottom: -30px;
  }

  .second-page-blommor3 {
    left: -90px;
    bottom: -150px;
  }
}

@media only screen and (max-width: 450px) {
  .second-page {
    padding-bottom: 10vh;
  }
}

.timeLeft {
  display: flex;
  justify-content: center;
  height: 10vh;
  z-index: 100;
  background-color: var(--beige);
}

.timer-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.timer-section::before {
  position: absolute;
  left: calc(-23vw - 50px);
  content: '';
  height: 1.5px;
  width: 23vw;
  background-color: var(--blue);
}

.timer-section::after {
  position: absolute;
  left: calc(40vw + 50px);
  content: '';
  height: 1.5px;
  width: 23vw;
  background-color: var(--blue);
}
.timer-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  font-family: "Montserrat";
}

.timer-element-time {
  font-weight: 500;
  font-size: 2.25rem;
}

.timer-element-string {
  font-weight: 400;
  font-size: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .timer-section::before {
    display: none;
  }

  .timer-section::after {
    display: none;
  }

  .timer-section {
    width: 60vw;
  }
}

@media only screen and (max-width: 450px) {
  .timeLeft {
    height: auto;
  }
  .timer-section {
    flex-direction: column;
    gap: 50px;
  }
}

.vigsel-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  background-color: var(--beige);
  gap: 5vw;
}

.vigsel-info {
  display: flex;
  height: 30vh;
  width: 30vw;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Montserrat';
  color: var(--blue);
}

.vigsel-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.vigsel-date {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 44px;
}

.vigsel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
}

.vigsel-map-div {
  height: 30vh;
  width: 400px;
  overflow: hidden;
}

.vigsel-map {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .vigsel-page {
    flex-direction: column;
    gap: 5vh;
  }

  .vigsel-info {
    height: auto;
    width: 60vw;
  }

  .vigsel-map-div {
    width: 60vw;
  }
}

@media only screen and (max-width: 450px) {
  .vigsel-page {
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .vigsel-map-div {
    height: auto;
  }
}

.fest-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  background-color: var(--beige);
  padding-bottom: 10vh;
  gap: 5vw;
}

.fest-info {
  display: flex;
  height: 30vh;
  width: 30vw;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Montserrat';
  color: var(--blue);
}

.fest-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.fest-date {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 44px;
}

.fest-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
}

.fest-map-div {
  height: 30vh;
  width: 400px;
  overflow: hidden;
}

.fest-map {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .fest-page {
    flex-direction: column;
    gap: 5vh;
  }

  .fest-info {
    height: auto;
    width: 60vw;
  }

  .fest-map-div {
    width: 60vw;
  }
}

@media only screen and (max-width: 450px) {
  .fest-page {
    padding-bottom: 15vh;
    padding-top: 5vh;
  }

  .fest-map-div {
    height: auto;
  }
}


.blommor-mitten-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-color: var(--beige);
}

.blommor-mitten {
  width: 800px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .blommor-mitten {
    width: 600px;
  }
}

@media only screen and (max-width: 450px) {
  .blommor-mitten {
    width: 400px;
  }

  .blommor-mitten-page {
    height: 10vh;
  }
}

.onskelista-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
  padding-bottom: 10vh;
}

.onskelista-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.onskelista-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.onskelista-btn {
  margin-top: 30px;
  border: none;
  background-color: var(--blue);
  color: var(--beige);
  height: 40px;
  width: 200px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 29px;

}

.onskelista-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  .onskelista-text {
    width: 60vw;
  }
}

@media only screen and (max-width: 450px) {
  .onskelista-page {
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
}

.bra-att-veta-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  color: var(--blue);
  background-color: var(--beige);
  padding-top: 10vh;
}

.bra-att-veta-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.bra-att-veta-title2 {
  text-align: center;
  margin-top: 20px;
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 30px;
}

.bra-att-veta-text {
  width: 400px;
  max-width: 90vw;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
}

@media only screen and (max-width: 450px) {
  .bra-att-veta-page {
    padding-top: 5vh;
  }
}

.osa-page {
  display: flex;
  align-items: center;
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
  padding-top: 20vh;
  padding-bottom: 20vh;
  flex-direction: column;
}

.osa-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.osa-senast {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 61px;
}

.osa-radio-btn {
  display: none;
}

.osa-radio-text {
  position: relative;
  font-size: 0.8rem;
  border: 1px solid var(--blue);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: calc(400px / 2 - 10px);
  max-width: calc(95vw / 2 - 10px);
  cursor: pointer;
}

.osa-radio-text:before {
  content: '';
  height: 15px;
  width: 15px;
  border: 1px solid var(--blue);
  border-radius: 50%;
  margin-right: 10px;
}

.osa-radio-btn:checked + .osa-radio-text {
  background-color: var(--blue);
  color: var(--beige);
}

.osa-radio-btn:checked + .osa-radio-text:before {
  height: 10px;
  width: 10px;
  border: 4px solid var(--beige);
  background-color: var(--blue);
}

.osa-radio-div {
  display: flex;
  width: 400px;
  justify-content: space-between;
  max-width: 95vw;
}

.osa-radio-divs {
  display: flex;
}

.osa-namn-div {
  display: flex;
  width: 400px;
  margin-top: 30px;
  justify-content: space-between;
  max-width: 95vw;
}

.osa-namn {
  flex-basis: 48%;
}

.osa-namn-input {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 0px;
  box-sizing: border-box;
  outline: none;
  border-color: var(--blue);
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
}

.osa-mail {
  width: 400px;
  margin-top: 30px;
  max-width: 95vw;
}

.osa-mail-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 0px;
  border: 1px solid;
  outline: none;
  border-color: var(--blue);
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
}


.osa-allergier {
  width: 400px;
  margin-top: 30px;
  max-width: 95vw;
}

.osa-allergier-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 0px;
  border: 1px solid;
  outline: none;
  border-color: var(--blue);
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
}

.osa-button {
  width: 400px;
  margin-top: 30px;
  height: 50px;
  background-color: var(--blue);
  color: var(--beige);
  border: none;
}

.osa-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.osa-visa-anmäld {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--blue);
  width: 400px;
  height: 50px;
  transition: ease 1s;
  animation-name: anmäldFade;
  animation-duration: 1s;
}

@keyframes anmäldFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 450px) {
  .osa-page {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .osa-radio-text {
    width: calc(350px / 2 - 10px);
  }

  .osa-radio-div {
    width: 350px;
  }

  .osa-namn-div {
    width: 350px;
  }

  .osa-allergier {
    width: 350px;
  }

  .osa-button {
    width: 350px;
  }
}

.spex-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  font-family: 'Montserrat';
  color: var(--blue);
}

.spex-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 61px;
}

.spex-info {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 90vw;
}

.spex-input {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
}

.spex-input-title {

}

.spex-input-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 0px;
  border: 1px solid;
  outline: none;
  border-color: var(--blue);
  background-color: var(--beige);
  color: var(--blue);
  font-family: 'Montserrat';
  max-width: 95vw;
}

.spex-button {
  width: 400px;
  height: 50px;
  background-color: var(--blue);
  color: var(--beige);
  border: none;
  max-width: 95vw;
}

.spex-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.spex-button:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 768px) {
  .spex-info {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  .spex-input {
    width: 350px;
  }

  .spex-button {
    width: 350px;
  }
}

.easterEgg2 {
  position: absolute;
  left: 300vw;
  width: 100vw;
  height: 100vh;
  transition: ease 1s;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.justinBlom {
  position: absolute;
  height: 100vh;
  width: auto;
}

.closeJustinBlom {
  position: absolute;
  left: 10px;
  color: var(--blue);
  z-index: 2;
  cursor: pointer;
}

.closeJustinbtn {
  position: relative;
  width: 250px;
  height: 70px;
  top: calc(100vh - 70px);
  background-color: var(--blue);
  color: var(--beige);
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 29px;
  cursor: pointer;
  z-index: 2;
}

.bottom-page {
  height: 50vh;
  background: var(--beige) url('./pictures/blommor_bottom.png') no-repeat bottom center;
  background-size: 1000px;
}

@media only screen and (max-width: 450px) {
  .bottom-page {
    height: 40vh;
  }
}
